/* src/App.css */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-header img {
  height: 80px;
  margin-bottom: 20px;
}

.App-body {
  margin: 20px;
  padding: 20px;
  text-align: left;
}

.App-footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
